@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

html {
  height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  height: 100%;
  margin: 0;
  background-color: rgb(252, 234, 211);
}

#app
{
  height: 100%;
  max-width: 820px;
  margin: auto;
}
.none
{
  background-color: silver;
}

.red
{
  background-color: rgb(221, 76, 61);
}
.blue
{
  background-color: rgb(87, 156, 205);
}
.green
{
  background-color: rgb(141, 233, 127);
}
.white
{
  background-color: rgb(252, 252, 252);

}
.yellow
{
  background-color: rgb(241, 241, 57);

}
.orange
{

  background-color: rgb(255, 158, 70);
}
.purple
{
  background-color: rgb(255, 96, 255);
}